body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.container {
    outline: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.dimension {
 color: black;
}

.pixel {
    outline: 1px solid rgb(159, 159, 159);
    background-color: rgb(255, 255, 255);
}

#btn {
margin-top: 20px;
}

.color {
    background-color: rgb(0, 106, 255);
}

#color2 {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    height: 40px;
    background-color: orange;
}

#color3 {
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 20px;
    height: 40px;
    background-color: rgb(255, 0, 170);
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input[type="color"] {
    width: 60px;
    height: 60px;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

#colorPicker::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

.btnSelected {
    border: 3px solid blue;
}
