body {
    margin: 0;
    
}

header {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

.main{
    gap: 50px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.container {
    outline: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: rgb(210, 210, 210);
}

.settings > * {
    width: 160px;
    text-align: center;
}

.pixel {
    outline: 1px solid rgb(159, 159, 159);
    background-color: rgb(255, 255, 255);
}

.pixelOutline {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.color {
    background-color: rgb(0, 106, 255);
}

#colorBtn {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    background-color: orange;
}

#rainbow {
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 0, 170);
}

#eraser {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 216, 143);
}

#grid {
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(67, 67, 67);
}

#clear {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(138, 154, 255);
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input[type="color"] {
    width: 60px;
    height: 60px;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

#colorPicker::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

.btnSelected {
    outline: 3px solid blue;
}
